
      @(taskList: List[Task],  tasknow:String)


      @common("今もってるタスク") {
      <h2>Add a new task</h2>

     <form action="/tasks" method="POST">
     <p>
        name: <input type="text" name="name" />
     </p>
     <input type="submit" value="Create" />
 </form>
      <h1>今回作った@tasknow</h1>

       <h1>タスク一覧</h1>

       <h1>今まで作ったピザは@taskList.size</h1>

     @if(taskList.isEmpty()) {
        Task は一件もありません
    } else {
       <ul>
       @for(task <- taskList) {
           <li>@task.name</li>
       }
       </ul>

}


        <a href="@routes.Application.index()">トップページ</a>
        <a href="@routes.Application.helps()">ヘルプページ</a>
 }
